ROAMERX_RUNTIME_ROOT=/home/dogrobot/runtime/nx-edge
ROAMERX_DATA_ROOT=/home/dogrobot/runtime/nx-edge/data/jszr
ROAMERX_MAP_DIR=/home/dogrobot/runtime/nx-edge/data/jszr/map
ROAMERX_ROSBAG_ROOT=/home/dogrobot/runtime/nx-edge/data/rosbags
ROAMERX_EDGE_CONFIG=/home/dogrobot/runtime/nx-edge/conf/edge-agent.yaml
ROAMERX_EDGE_DATA=/home/dogrobot/runtime/nx-edge/data/edge-agent
ROAMERX_VOICE_ROOT=/home/dogrobot/runtime/nx-edge/data/voice
ROAMERX_SDK_ROOT=/home/dogrobot/runtime/nx-edge/install/genisom_l1_sdk

